@media only screen and (max-width: 600px) {
  .footer-menu {
    margin-left: 0;
  }
  .footer-menu ul {
    display: block;
    padding: 0;
  }
  .footer {
    height: 500px;
  }
  .footer-menu li {
    margin-left: 50px;
    margin-bottom: 30px;
  }
}