.contact-us-box{
    border: 2px solid #EDEADE;
    background-color: #EDEADE;
    height: 300px;
    font-size:30px;
    width: 100%;
    opacity: 0.8;
    text-align: center;
}
.card-text {
    margin: 45px;
    opacity: 1;
  }
  .sub-text{
    font-size:20px;
    margin: 45px;
  }
  .hero-box button{
    margin-left: 135px;
  }