.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 99999;
}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    position: fixed;
    color: black;
    z-index: 9999;}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
}

.linkText {
    padding-left: 16px;
    color: black;
    padding-bottom: 20px;
}

.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}

.sideitem:hover {
    background-color: #244f7d1c;

}

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 28px;
    font-size: 25px;
}
.menuBtnclose {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 28px;
    font-size: 25px;
}