.hero-box{
    border: 2px solid #EDEADE;
    background-color: #EDEADE;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size:30px;
    opacity: 0.8;
    text-align: left;
}
.card-text {
    margin: 45px;
    opacity: 1;
  }
  .sub-text{
    font-size:20px;
    margin: 45px;
  }
  .search-button{
    background-color: #505050;
    font-size:20px;
    border: 2px solid #505050;
    width: 140px;
    font-weight: 500;
    margin-left: 135px;
    font-size: 15px;
    height: 40px;
    color: white;
  }